
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --dark: #0D0D0D;
    --white: #ffffff;
    --inter: "Inter", sans-serif;
}
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white);
}

button{
    border: none;
    cursor: pointer;
    outline: none;
} 
.container {
    max-width: 1170px;
    margin: 0 auto;
}

            /* ========== All Common Css ========== */

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    z-index: 100;
}
.main_menu{
    display: flex;
    justify-content: space-between;
}
.main_menu .logo{
    width: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_menu .logo img{
    width: 100%;    
}
.main_menu .menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.main_menu .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}
.main_menu .menu ul li a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 0 10px;
    text-decoration: none;

}
 button{
    width: 16px;
    height: 15px;
}

                /* navber end */


#banner1{
    background: url(../images/background.jpg) no-repeat center/cover;      
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#banner1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d42;
}
.banner-info {
    position: relative;
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.banner-info span {
    display: block;
}

.banner-info h1 {
    font-size: 58px;
    color: var(--white);
    font-weight: 800;
}

.banner-info h4 {
    font-size: 20px;
    color: var(--white);
    line-height: 30px;
    font-weight: 500;
}
.buttons a {
    padding: 18px 40px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--white);
    margin: 0 10px;
    transition: 0.3s;
}
.buttons .btn1{
    background: #FFA62B;
    border: #FFA62B;
    color: #0D0D0D;
}





.contribution {
    background: var(--white);
    margin-top: -25px;
    z-index: 1;
    position: relative;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}

.contribution .card-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.contribution .card-item .card {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 30px;
}

.card-item .card .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.card-item .card .card-icon img {
    width: 100%;
}


.card-item .card .card-text h3 {
    color: var(--blue252B42);
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.card-item .card .card-text h6 {
    color: var(--gray73);
    font-size: 14px;
    font-weight: 600;
}

.card-item .card .card-text h6 span {
    display: block;
}






.banner2_info{
    padding: 80px 1.5px;
    max-width: 1049px;
    margin: 0 auto;
    color: #737373;
    display: flex;
    gap: 39px;
}

 
.banner2_info1{
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 230px;
    height: 290px;
    background: #FFFFFF;
}
.banner2_info1 img{
    width: 48px;
    height: 48px;
    margin-top: 35px;
    margin-left: 42px;
    margin-bottom: 20px;
}
.banner2_info1 p{
    font-weight: 14px;
    line-height: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.2px;
    text-align: center;
}
.banner2_info1 p span{
    display: flex;
    text-align: center;
    justify-content: center;
}
.banner2_info1 button{
    background: white;
    margin-left: 42px;
   margin-bottom: 35px;
}
.banner2_info1 button a{
    border:1px solid #00A0C1;
    border-radius: 1000px;
    color: #00A0C1;
    font-weight: 14px;
    line-height: 28px;
    text-align: center;
    padding: 10px 30px;
}


.colorfull{
    background: #252B42;
}

.colorfull button a{
    color: red;
    background: white;
    border: none;
}









.banner3_info2{
    max-width: 1050px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.banner3-info{
    width: 511px;
    height: 169px;
    text-align: center;  
    margin: 100px 269.5px;
}
.banner3-info h3{
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    color: #252B42;
    padding-bottom: 15px;
}
.banner3-info h3 span{
    display: block;
}
.banner3-info p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #737373;
}
.info3{
    width: 1050px;
    height: 442px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_video .video{
    background: url(../images/Background.png) no-repeat center/cover;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 442px;
    width: 600px; 
    margin-right: 120px;
}
.info_video .video button{
    width: 92px;
    height: 92px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_con{
    width: 333px;
    height: 438px;
}
.info_info{
    width: 333px;
    height: 224px;
}
.img1{
    width: 333px;
    height: 77px;
    padding-bottom: 30px;
}
.img2{
    display: flex;
}
.info_info h3{
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    color: #252B42; 
    padding: 10px 0;
}
.info_info h3 span{
    display: block;
}
.info_info p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #737373;
}
.info_info1 .img1{
    height: 77px;
    width: 333px;
    margin: 30px 0;
}
.info_info1 .img1 img{
    height: 32px;
    width: 32px;
    margin-bottom: 45px;
}
.info_info1 .img1 h4{
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.info_info1 .img1 p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #737373;
    margin-left: 52px;
}






.container4{
    max-width: 1270px;
    margin: 0 auto;
    height: 678px;
    background: #16697A;
    margin-top: 100px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;


}
.container4 .container4_info{
    width: 864px;
    height: 107px;
    margin: 0 auto;
    padding-top: 80px;
}
.container4_info h3{
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    color: #FFFFFF; 
    letter-spacing: 0.2px;
    padding: 10px 0;
    text-align: center;
}
.container4_info p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.2px;
    text-align: center;
}



.container4_info1{
    width: 100%;
    height: 361px;
    padding-top: 177px;
    padding-bottom: 113px;
    display: flex;
    gap: 60px;
}
.container4_info1{
    gap: 90px;
}
.info1_info1{
    padding-left: 0px;
    height: 330px;
    width: 489px;
    background: #FFFFFF;
}
.info1_info1 h3{
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    padding-top: 30px;
    color: #0D0D0D;
}
.info1_info1_img {
    padding: 15px 0;
}
.info1_info1 p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #737373;
    padding-right: 60px;
}
.info1_info3{
    display: flex;
    height: 330px;
    width: 700px;
    background: #FFFFFF;
}
.info1_info3-img{
    width: 96px;
    height: 96px;
}
.info1_info3 .imag img{
    position: relative;
    left: -65px;
    top: 28px;
    width: 96px;
    height: 96px;
    
}

.info1_info3 .img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #16697a;
}
.info1_info3 h3{
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    padding-top: 30px;
    /* padding-left: 60px; */
    color: #0D0D0D;
}

.info1_info3 p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #737373;
    /* padding-left: 60px; */
    padding-right: 60px;
}
.info1_info3 .info1_info2 p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #737373;
    /* padding-left: 60px; */
    padding-right: 60px;
}



.info1_info6{
    display: flex;
    margin-right: 0%;
    /* margin-left: 35px; */
    height: 330px;
    width: 489px;
    background: #FFFFFF;
}
.info1_info6 .imag img{
    position: relative;
    left: -65px;
    top: 28px;
    width: 96px;
    height: 96px;
    
}

.info1_info6 .img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #16697a;
}
.info1_info6 h3{
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    padding-top: 30px;
    color: #0D0D0D;
}
.info1_info6 p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #737373;
}

.info1_info6 .info1_info1 p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #737373;
}








.container5{
    max-width: 1270px;
    margin: 0 auto;
    height: 608px;
    background: #FAFAFA;
    color: black;
    justify-content: center;
    align-items: center;

}
.meet{
    padding-top: 80px;
    text-align: center;
    width: 804px;
    height: 107px;
    margin: 0 auto;
    justify-content: center;
}
.meet h3{
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    color: black; 
    letter-spacing: 0.2px;
    padding: 10px 0;
    text-align: center;
}
.meet p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: black;
    letter-spacing: 0.2px;
    text-align: center;
}
.container5 .icon{
    width: 1049px;
    height: 291px;
    margin: 0 auto;
    padding-top: 237px;
    padding-bottom: 80px;
    display: flex;
    gap: 30px;
}
.container5 .icon .icon1{
    width: 238px;
    height: 291px;
    text-align: center;
    background: #FFFFFF;
}
.container5 .icon .icon1 .img img{
    width: 128px;
    height: 128px;
    padding-top: 30px;
}
.container5 .icon .icon1 p span{
    color: red;
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;

}
.container5 .icon .icon1 h4{
    padding-top: 10px;
    padding-bottom: 6px;
}




.container6{
    width: 1270px;
    height: 1223px;
    background-attachment: fixed;
    background: #FAFAFA;
}
.the_world{
    width: 1270px;
    height: 807px;
    background: #252B41;
    margin-top: 100px;
}
.the_world_info{
    width: 950px;
    height: 329px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    gap: 30px;

}
.the_world_info .info{
    width: 602px;
    height: 329px;
    
}
.the_world_info .info h3 span{
    display: block;
}
.the_world_info .info h3 {
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    color: #FFFFFF; 
    letter-spacing: 0.2px;
    padding-top: 50px;
    padding-bottom: 15px;
}
.the_world_info .info p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    padding-bottom: 50px;
    padding-right: 147px;
}
.the_world_info .the_world_world{
    width: 416px;
    height: 269px;
    padding: 30px 0;
}
.the_world .free{
    width: 950px;
    height: 644px;
    margin: 0 auto;
    margin: 150px 150px;
    background: #efefef;
    display: flex;
}
form{
    margin-left: 40px;
    margin-top: 50px;
}
.media_info h1{
    padding: 40px 50px;
}
.form input{
    background: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 290px;
    padding-left: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.form select{
    background: #f9f9f9;
    padding-top: 11px;
    padding-bottom: 11px;
}

.media_info .book_appointment {
    margin: 50px 0px;
}
.media_info .book_appointment .Book{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    background: #ffa62b;
    padding: 15px 180px;
    margin: 40px 50px;
}




.footer{
    width: 1270px;
    height: 338px;
    background: #FFFFFF;
}

.footer_info{
    width: 937px;
    height: 178px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 80px;
    margin-bottom: 100px;
}
.footer_info .footer_info1{
    width: 238px;
    height: 146px;
    padding-bottom: 32px;
}
.footer_info .footer_info1 h2{
    padding-bottom: 25px;
    
}
.footer_info .footer_info1 p{
    font-size: 16px;
    color: black;
    font-weight: 400;
    line-height: 1.5;
    padding-right: 25px;
}
.facebook ul{
    gap: 10px;
    display: flex;
    padding-top: 25px;

}
.facebook ul li img{
    width: 24px;
    height: 24px;

}
.company_info{
    width: 241px;
    height: 178px;
}
.company_info h2{
    padding-bottom: 20px;
}
.company_info ul li a{
    font-size: 16px;
    color: black;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

